*{
    box-sizing: border-box;
}
h1{
    margin: 0;
    
    font-weight: bolder;
    font-size: 45px;
}
body{
    margin: 0;
    padding: 0;

    font-family: 'Tenor Sans', sans-serif;
    
}
input, label{
    display: block;
}




.banner {
    height: 200px;
    background-image: url("https://www.goodnet.org/photos/620x0/24453.jpg");
    
    
}




.venue-container{
    margin-left: auto;
    margin-right: auto;
    width: 318px;
    margin-top: 30px;
    
}



label{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.venue-inputs {
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: 1px gray solid;
    font-size: 16px;
}



input#submit {
    margin-top: 30px;
    
    background-color: rgb(92, 167, 241);
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-weight: bolder;
}

h1{
    margin-top: 15px;
}




.venue-list{
    display: block;
    list-style: none;
    width: 373px;
    margin-right: auto;
    margin-left: auto;

}

.map-container{
    display: block;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}




.venuemap-container{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 25px;
}

.return {
    display: block;
    margin-top: 30px;
    
    background-color: rgb(92, 167, 241);
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-weight: bolder;
    margin-right: auto;
    margin-left: auto;
}

.error-container{
    display: block;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    font-family: 'Tenor Sans', sans-serif;
    color: red;
    font-weight: bolder;
}

.input-info{
    font-size: 10px;
}

li::after{
    content: " ";
}

li{
                    
    box-shadow: 10px 10px 8px rgb(92, 167, 241);
}